body{
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    color: beige;
    text-shadow: 0 0 5px red;
    margin: 0;
}

.title:hover {
    animation-name: shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes shake {
    30% {
      transform: translateX(-10px); 
    }

    60% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(-20);
    }
}

h1{
    justify-content: center;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: monospace;
}

p{
    font-size: 18px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#js-output {
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: none;
}

#score-display {
    margin-top: 10px;
    color: white;
    text-shadow: 1px 0 0px #41838e, 0px 2px 0px #274f55, 0px 0px 1px teal;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    width: 100px;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #41608e, #2e4363, #131d2b, #000000);
    left: 90%;
    bottom: 10px;
    height: 40px;
}

.final-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
    animation: zoomInOut 10s ease-in-out infinite; /* Animation on load */

}

.room-description {
    padding: 15px;
    background-color: lightgray; 
    border: 5px solid black; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    line-height: 1.6;
    font-style: normal;
}
.js-button{
    position: fixed;
    width: 100px;
    color: black;
    background-color: lightgrey;
    font-size: 12px;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 5px;
    left: 90%;
    bottom: 10px;
    height: 40px;
}

.description-container{
    padding: 15px;
    background-color: lightgray; 
    border: 5px solid black; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    line-height: 1.6;
    font-style: normal;
}

/* Keyframes for Zoom-In and Zoom-Out */
@keyframes zoomInOut {
    0% {
        transform: scale(1); /* Normal size */
    }
    25% {
        transform: scale(1.05); /* Slight zoom-in */
    }
    50% {
        transform: scale(1); /* Back to normal size */
    }
    75% {
        transform: scale(0.9); /* Slight zoom-out */
    }
    100% {
        transform: scale(1); /* Back to normal size */
    }
}

.room-image{
    display: block; 
    margin: 0 auto;
    max-width: 75%; 
    border: 10px solid lightgrey; 
    border-radius: 20px;
    animation: zoomInOut 10s ease-in-out infinite; /* Animation on load */
}


.button-container {
    display: grid;                
    grid-template-columns: 1fr 1fr; 
    gap: 15px;                     
    width: 100%;                   
    margin-top: 20px;           
}

.exit-button {
    margin-bottom: 15px;         
    padding: 15px;                 
    background-color: teal;        
    color: white;               
    border: 5px solid black;  
    cursor: pointer;             
}

.exit-button:hover {
    background-color: rgb(5, 178, 178);
    text-shadow: 2px 0 0px #165514, 0px 2px 0px teal, 0px 0px 1px rgb(28, 235, 235);
    font-size: large;
    color: rgb(236, 248, 170);
}



.credits-container{
    font-size: 12px;
}
