body{
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    justify-content: center;
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.home-button{
    position: fixed;
    width: 100px;
    color: black;
    background-color: lightgrey;
    font-size: 12px;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 5px;
    left: 10px;
    bottom: 10px;
    height: 40px;
}

#js-output {
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#score-display {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: fixed;
    width: 100px;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 5px;
    left: 80%;
    bottom: 10px;
    height: 40px;
}

.final-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Rounded corners for the image */
}

.room-description {
    padding: 15px;
    background-color: lightgray; 
    border: 5px solid black; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    line-height: 1.6;
    font-style: italic;
}
.js-button{
    position: fixed;
    width: 100px;
    color: black;
    background-color: lightgrey;
    font-size: 12px;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 5px;
    left: 90%;
    bottom: 10px;
    height: 40px;
}

