body{
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-size: 60px;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    color: beige;
    text-shadow: 0 0 5px red;
    margin: 0;
}

.title:hover {
    animation-name: shake;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes shake {
    30% {
      transform: translateX(-10px); 
    }

    60% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(-20);
    }
}

h1{
    justify-content: center;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: monospace;
}

p{
    font-size: 18px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#js-output {
    margin-bottom: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: none;
}

#score-display {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    position: fixed;
    width: 100px;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 5px;
    left: 80%;
    bottom: 10px;
    height: 40px;
}

.final-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px; 
}

.room-description {
    padding: 15px;
    background-color: lightgray; 
    border: 5px solid black; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    line-height: 1.6;
    font-style: normal;
}
.js-button{
    position: fixed;
    width: 100px;
    color: black;
    background-color: lightgrey;
    font-size: 12px;
    font-style: normal;
    padding: 5px 10px;
    border-radius: 5px;
    left: 90%;
    bottom: 10px;
    height: 40px;
}

.description-container{
    padding: 15px;
    background-color: lightgray; 
    border: 5px solid black; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    line-height: 1.6;
    font-style: normal;
}

.room-image{
    display: block; 
    margin: 0 auto;
    max-width: 75%; 
    border: 10px solid lightgrey; 
    border-radius: 20px;
}

.button-container {
    display: grid;                
    grid-template-columns: 1fr 1fr; 
    gap: 15px;                     
    width: 100%;                   
    margin-top: 20px;           
}

.exit-button {
    margin-bottom: 15px;         
    padding: 15px;                 
    background-color: teal;        
    color: white;               
    border: 5px solid black;  
    cursor: pointer;              
}

.credits-container{
    font-size: 12px;
}
